{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!{% endblock %}

{% block body %}
<style>
    .main-container { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .main-container code { background: #F5F5F5; padding: 2px 6px; }

</style>
    <div class="main-container">

        <form method="post">
            <div class="form-group row">
                <div class="col-xs-4">
                    <input type="api_key" class="form-control" placeholder="API key" id="api_key" name="api_key">
                </div>
                <div class="col-xs-4">
                    <input type="city" class="form-control" placeholder="City" id="city" name="city">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <a href="{{ path('weather_data') }}"></a>
            </div>
        </form>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist"></div>
            <div class="tab-content" id="nav-tabContent"></div>
        </nav>


{#            <nav>#}
{#                <div class="nav nav-tabs" id="nav-tab" role="tablist">#}
{#                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>#}
{#                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>#}
{#                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>#}
{#                </div>#}
{#            </nav>#}
{#            <div class="tab-content" id="nav-tabContent">#}
{#                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>#}
{#                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>#}
{#                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>#}
{#            </div>#}

{#        </div>#}
    </div>
{% endblock %}

{% block page_javascripts %}
    <script>
        $( document ).ready(function() {
            $('form').submit(function(e) {
                e.preventDefault();
                let url = "{{ path('weather_data') }}";
                let formSerialize = $(this).serialize();

                $.post(url, formSerialize, function(response) {
                    let data = response.data;
                    console.log(data);

                    $(".nav-item").removeClass("active");
                    $(".tab-pane").removeClass("active");

                    $( ".nav-tabs" ).append(
                        "<a class=\"nav-item nav-link active\" id=\"nav-" + data.city + "-tab\" data-toggle=\"tab\" " +
                        "href=\"#nav-" + data.city + "\" role=\"tab\" aria-controls=\"nav-" + data.city + "\"" +
                        " aria-selected=\"true\">" + data.city + "</a>"
                        // "<a class=\"nav-item nav-link active\" id=\"nav-" + data.city +
                        //     "-tab\" data-toggle=\"tab\" href=\"#nav-"
                        //     + data.city + " role=\"tab\" aria-controls=\"nav-" +data.city + "\" aria-selected=\"true\">"
                        //     + data.city +
                        // "</a>"
                    );

                    $( ".tab-content" ).append(
                        "<div " +
                            "class=\"tab-pane fade show active\" " +
                            "id=\"nav-" + data.city + "\" role=\"tabpanel\" " +
                            "aria-labelledby=\"nav-" + data.city +"-tab\">" +
                            "<br>" + "Oro temperatūra: " + data.airTemperature + "<br>" +
                            "Vėjo greitis: " + data.windSpeed + "<br>" +
                        "</div>"
                    );

                }, 'JSON');
            });

            // $("a.nav-item").on("click", function(e) {
            //     alert('test');
            //     e.preventDefault();
            //     $(".tab-pane").removeClass("active");
            //     $(this).addClass('active');
            // });

        });
    </script>
{% endblock %}

